.formContainer {
    height: 200px;
    background-color: #cfe1ea;
}

.title {
    text-align: center;
    font-size: 28px;
    left: 50%;
    margin: 0;
}

.fields {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 30px;

}

.input {
    padding: 12px 20px;
    border: 2px solid #ddd;
    border-radius: 30px;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.input:focus {
    border-color: #6200ea;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.input::placeholder {
    color: #999;
    font-style: italic;
}

.input:hover {
    background-color: #f9f9ff;
}

.input:active {
    transform: scale(1.02);
}