.container {
    height: fit-content;
    margin-top: 200px;

    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

}
