/* userLogo.module.css */
.logo {
    display: flex;               
    align-items: center;       
}

.icon {
    width: 50px;               
    height: 50px;
    border-radius: 50%;         
    object-fit: cover;         
}

.userName {
    color: white;               
    font-size: 14px;            
    font-weight: bold;          
    text-align: right;         
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}
