.picture {
  height: 80%;
  height: 400px;
}

.cardActive {
  padding: 20px;
  background-color: #aab1b5;
  color: "#4406";
}

.cardDisable {
  padding: 20px;
  background-color: #cfe1ea;
  color: "#4406";
}