.container {
    padding: "20px";
    background-color: "#464046";
    color: "#A2A1A9";
    display:flex;
    justify-content: flex-start
  }

  .caption {
    color: #394053;
    padding: 10px;
    font-size: 20px;
    background-color: #97B3C2;
}

.picture {
  height: 80%;
  height: 50px;
}

