.container {
  position: fixed;
  display: flex;
  height: 50px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.3);
  margin: 10px 100px 0 100px;
}

.logo {
  margin-right: auto;
}

.button {
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.button:hover{
  transform: translateY(-1px);
}