.container {
  position: flex;
  padding: "20px";
  background: rgba(255, 255, 255, 0.8);
  display:flex;
  justify-content: flex-start
}

.caption {
  color: #394053;
  padding: 10px;
  font-size: 20px;
  background-color: #97B3C2;
}

.picture {
  height: 80%;
  height: 50px;
}

.button {
  align-content: center;
  border-style: solid;
  align-items: center;
  background-color: 'transparent'
}
