.container {
  padding: "20px";
  background-color: black;
  color: "#A2A1A9";
  display: flex;
  justify-content: flex-start;
}


.list {
  padding: 10px;
  color: #394053;
  text-align: left;
  font-size: 14px;
  font-family: "Courier New";
}

li {
  list-style-type: none;
}
