.button {
    border-radius: 100px;
    cursor: pointer;
    box-shadow: none;
    padding: 1.25rem 2rem;
    border-width: 2px;
    align-items: center;
    background-color: #83ff9c71 !important;
    color: white;
}