
.background {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;           
    justify-content: center; 
    align-items: flex-end;
}


.textBlock {
    display: flex;              
    text-align: center;             
    background: rgba(0, 0, 0, 0.4); 
    border-radius: 50px; 
    margin-bottom: 10px;
    min-height: 100px;
    padding: 0 50px;
}

.title {
    color: white; 
    padding-top: 25px;
    font-size: 28px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
}

.text {
    color: white; 
    padding: 25px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}
